@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Sixtyfour&display=swap');

$background-color: #1e6ab7;
$heading-color: #333;
$primary-color: #1e6ab7;
$secondary-color: #1b3249;
$link-hover-color: #17a2b8;
$footer-bg-color: #141d38;
$container-bg-color: #3e9fff;
$card-hover-scale: 1.05;
$scroll-to-top-bg: #007bff;
$scroll-to-top-hover-bg: #0056b3;
$mobile-max-width: 767px;